
service: SpreadToCencosudIntegration

provider:
  name: aws
  runtime: python3.8
  stage: ${git:branch}
  region: us-west-2


functions:
  integrate:
    handler: handler.integrate
    events:
      - http:
          path: spread_cencosud_integration/integrate
          method: post
          private: true

plugins:
  - serverless-plugin-git-variables
  - serverless-python-requirements
