
service: SpreadToCencosudIntegration

custom:
  environmentVariables:
    beetrack_api_keys:
      spread_group:
        master: "b1226ab78f0532270541d3afa0d1c5bc3d4ec01b5c67629d970e48c3c379f124"
        staging: "ad906679c7e5a18e7a6c4ccd4185941ea8ca10c63915134d3df7ac7d4e319799"
      spread:
        master: "2d4dfc0ba948bf3a8ba190c2c4202078e3f78893e3a15597dbfffacaa0ea9f7c"
        staging: "a617f720954f0d72263f6283847b8277e2de495e23c7521d146281cffac01656"    
      paris:
        master: "39650708b26010c236c68aa3c581d4fe63539eeb67a53ce37ab6d230a30c10e4"
        staging: "39650708b26010c236c68aa3c581d4fe63539eeb67a53ce37ab6d230a30c10e4"
    api_key:
      master: "SpreadCencoMas"
      staging: "SpreadCencoSta"
    tag_route:
      master: "4807"
      staging: "4807"
    account_id_spread:
      master: "2237"
      staging: "2237"
    account_id_paris:
      master: "17"
      staging: "17"



provider:
  name: aws
  runtime: python3.8
  stage: ${git:branch}
  region: us-west-2
  apiKeys:
    - ${self:custom.environmentVariables.api_key.${self:provider.stage}}
  environment:
    spread_api_key: ${self:custom.environmentVariables.beetrack_api_keys.spread.${self:provider.stage}}
    paris_api_key: ${self:custom.environmentVariables.beetrack_api_keys.paris.${self:provider.stage}}
    spread_group_api_key: ${self:custom.environmentVariables.beetrack_api_keys.spread_group.${self:provider.stage}}
    tag_route: ${self:custom.environmentVariables.tag_route.${self:provider.stage}}
    account_id_spread: ${self:custom.environmentVariables.account_id_spread.${self:provider.stage}}
    account_id_paris: ${self:custom.environmentVariables.account_id_paris.${self:provider.stage}}


functions:
  integrate:
    handler: handler.integrate
    events:
      - http:
          path: spread_cencosud_integration/integrate
          method: post
          private: true

plugins:
  - serverless-plugin-git-variables
  - serverless-python-requirements
